# Postgres Configuration

POSTGRES_DB=docintel
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DB_PORT=5432

SERVICES=s3,sqs
AWS_DEFAULT_REGION=us-east-1
LOCALSTACK_AUTH_TOKEN=ls-rEtu5343-xuRi-SIMI-wosU-ziQoKERAaed4
LOCALSTACK_PORT=4566