# Postgres Configuration

POSTGRES_DB=docintel
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DB_PORT=5432

SERVICES=s3,sqs
AWS_DEFAULT_REGION=us-east-1
LOCALSTACK_AUTH_TOKEN=localstack_auth_key
LOCALSTACK_PORT=4566
S3_BUCKET_NAME=documents-bucket
QUEUE_NAME=document-ingestion-queue
DLQ_NAME=document-ingestion-queue-dlq

# Ollama Local LLM Configuration
OLLAMA_PORT=11434
OLLAMA_MODEL=llama3.2